<div class="header" ng-controller="NavBarCtrl">
	<ul class="nav nav-pills pull-right">
		<li ui-sref-active="active">
			<a ui-sref="main">Home</a>
		</li>
		<li ng-if="!isAutheticated" ui-sref-active="active">
			<a ui-sref="register">Register</a>
		</li>
		<li ng-if="isAutheticated" ui-sref-active="active">
			<a ui-sref="logout">Logout</a>
		</li>
		<li ng-if="!isAutheticated" ui-sref-active="active">
			<a ui-sref="login">Login</a>
		</li>
	</ul>
	<h3 class="text-muted">Project-Gulp</h3>
</div>