body
  font: 12px Helvetica, Arial, sans-serif;
  background-color: lightseagreen;
a.button
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font: 12px Helvetica, Arial, sans-serif;
  background-color : #fca600;

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your stylus files automatically */
// injector
// endinjector