<form ng-submit="submit()" class="form-signin">
		<h1 class="form-signin-heading text-muted">Login</h1>
			<input type="email" ng-model="email" class="form-control" placeholder="Email address" required autofocus>
			<input name="password" ng-model="password" type="password" class="form-control" placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">
			Login
			</button>
			<br/>
			<a class="text-muted pull-right" ui-sref="register">Create account</a>
</form>